<div class="scrn1 container">
    <mat-card>
        <p class="text-center">Enter details to withdraw cash</p>
        <div class="row justify-content-center">
            <mat-form-field appearance="outline" class="col-5">
                <mat-label>Enter Card Number</mat-label>
                <input type="text" maxlength="16" #cardNo matInput placeholder="" [(ngModel)]="cardNumber" name="cardNumber" onkeyup="allowDigits(this)">
                <mat-hint>Hint: Enter 16 digit number</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-5">
                <mat-label>Enter PIN</mat-label>
                <input type="password" maxlength="4" #password matInput placeholder="" [(ngModel)]="pin" name="pin" onkeyup="allowDigits(this)">
                <mat-hint>Hint: Enter 4 digit pin</mat-hint>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <button [disabled]="(cardNumber.length < 16) ||  (pin.length < 4)" class="col-2" (click)="submit()" mat-raised-button color="primary">Submit</button>
        </div>
        <div #alertscrn1 class="row justify-content-center mt-3" id="alertSection">
            <div class="col-6 text-center" [ngClass]="{'alert alert-success': isUserVerified == true, 'alert alert-danger': isUserVerified == false}">
                <span *ngIf="isUserVerified == true">User is verified</span>
                <span *ngIf="isUserVerified == false">Please enter correct credentials</span>
            </div>
        </div>
    </mat-card>


</div>